# Python junk
__pycache__

# Vim junk
*swp
*swo

# Firmware
*_workspace/

# clangd stuff
.cache/clangd
compile_commands.json

# python venv files
venv

CP_G973FXXU3ASG8_CP13372649_CL16487963_QB24948473_REV01_user_low_ship.tar.md5.lz4
.gdb_history